<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form method="post" action="">
        <table border="solid">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id="name" required></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="number" name="Phone" id="phone" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" id="email" required></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="place" name="place" id="place" required></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" id="username" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="password" required></td>
            </tr>
        </table>
        <input type="submit" id="submit" value="submit">
        <input type="reset" value="reset" id="reset">
    </form>
</body>
</html>